# Environment files
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
.Python
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# IDE / Editor
.vscode/
.idea/

# Virtual environment
venv/
env/

# Logs
*.log

# OS files
.DS_Store